
.cuadro{
    border: 5px teal solid;
    background: grey;
    position: relative;
    height: 250px;
    width: 250px;
}
.entradas{
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    margin: auto;
}