h1{
    font-size: 55px;
    text-align: center;
}
h2{
    font-size: 30px;
    text-align: center;
}
 #botonjugar{
   margin: center;
   background-color: black;
   color: blanchedalmond;
   height: 40px;
   width: 90px;
   font-size: 30px;
   padding
   
}
.cuadro{
    border: 5px teal solid;
    background: grey;
    position: relative;
    height: 250px;
    width: 250px;
    margin: auto;
}
.entradas{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    
}