
.cuadro{
    border: 5px teal solid;
    background: grey;
    position: relative;
    height: 250px;
    width: 250px;
    margin: auto;
}
.entradas{
    font-size: 60px;
    font-variant-position: normal;
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    
}