.cuadro{
    border: 5px teal solid;
    background: grey;
    position: absolute;
    margin: 250px;
}
.entradas{
    /* height: 20px;
    width: 40px; */
    padding: 50;
    box-sizing: border-box;
}